{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% includeCssResource "sunsettosunset/css/SunsetToSunset.css" %}
{% includeJsResource "sunsettosunset/js/SunsetToSunset_Script.js" %}

{% set sunsetToSunsetSections = {
	message: { label: "Message"|t, url: url(craft.sunsettosunset.getSettingsUrl() ~ '/message') },
	location: { label: "Location"|t, url: url(craft.sunsettosunset.getSettingsUrl() ~ '/location') },
	template: { label: "Template"|t, url: url(craft.sunsettosunset.getSettingsUrl() ~ '/template') },
	advanced: { label: "Advanced"|t, url: url(craft.sunsettosunset.getSettingsUrl() ~ '/advanced') },
} %}

{% if craft.app.version < 2.5 %}
	{% set tabs = sunsetToSunsetSections %}
{% else %}
	{% set subnav = sunsetToSunsetSections %}
{% endif %}

{% set crumbs = [
	{
		label: craft.sunsettosunset.getPluginName(),
		url: url(craft.sunsettosunset.getSettingsUrl())
	},
	{
		label: sunsetToSunsetSections[(selectedTab ?? selectedSubnavItem)].label,
		url: sunsetToSunsetSections[(selectedTab ?? selectedSubnavItem)].url
	},
] %}

{% if title is not defined %}
	{% set title = craft.sunsettosunset.getPluginName %}
{% endif %}

{% set content %}
	{% block blockContent %}
		<h2>{{ sunsetToSunsetSections[(selectedTab ?? selectedSubnavItem)].label }}</h2>

	{% endblock %}

    <hr>

    <div class="plugin-footer">
        <div class="footer-left">
			{% block footerButton %}

			{% endblock %}
        </div>

        <div class="footer-right">
            <div class="plugin-credit">
                <p>{{ craft.sunsetToSunset.getPluginName }} {{ craft.sunsetToSunset.getPluginVersion }} &bull; <a href="{{ craft.sunsetToSunset.getPluginUrl }}" target="_blank">GitHub</a></p>
            </div>
        </div>
    </div>
{% endset %}